body {
  background-color: #826F66;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url('images/Windows_XP_Wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  margin: 0;
}

audio {
  display: block;
}

hr {
  border-style: none;
  border-top-style: none;
  border-bottom-style: dotted;
  border-width: 7px;
  border-color: #ADC2A9;
  width: 10%;
}

/* .skills {
  width:200px;
  height: 200px;
} */
h1 {
  color: #ADC2A9;
  font-family: sans-serif;
  font-weight: 400;
}

h2 {
  color: #D3E4CD;
  font-family: sans-serif;
}

h3 {
  color: #D3E4CD;
  font-family: sans-serif;
}

h1:hover {
  color: #F8ECD1;
}

h2:hover {
  color: #F8ECD1;
}

h3:hover {
  color: #F8ECD1;
}

p {
  font-family: sans-serif;
  color: #FEF5ED
    /* display: inline; */
}

span{
  font-family: sans-serif;
  color: #FEF5ED
}

ul {
  font-family: sans-serif;
  color: #FEF5ED;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

form {
  color: #D3E4CD;
  font-family: sans-serif;
}

table {
  color: #FEF5ED;
  border-color: #99A799;
  border-style: dotted;
}

.audio {
  display: block;
}

.caption {
  display: block;
}

.caption_icon {
  vertical-align: top;
  display: inline-block;
}

.circular {
  border-radius: 100%;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.directory {
  display: inline-flex;
}

a:link {
  color: #D3E4CD;
}

a:visited {
  color: #ADC2A9;
}

a:hover {
  color: #FEF5ED;
}
